<div class="jumbotron">
	<h1>CatPowered</h1>
	<p class="lead">Clean, renewable energy for the 21st century.</p>
	<p>
		<a class="btn btn-lg btn-success" href="/user/login" role="button">Already a client? Log in</a>
	</p>
</div>
<div class="row marketing">
	<div class="col-lg-4">
		<h4>Why CatPowered?</h4>
		<p>For 5 years in a row, we've been the world's leading feline-extracted energy source.</p>
	</div>
	<div class="col-lg-4">
		<h4>The CatPowered Advantage</h4>
		<p>Our competitors cut corners to try to make a quick buck, using inferior rodent-extracted energy. We use 100% cats, 100% of the time.</p>
	</div>
	<div class="col-lg-4">
		<h4>Make the Switch</h4>
		<p>Still not convinced? Give us a call right meow at 1-800-CAT-POWR.</p>
	</div>
</div>
<hr />
